[submodule "llvm"]
  path = llvm
  url = https://github.com/lsc-openmp/llvm
[submodule "openmp"]
  path = openmp
  url = https://github.com/lsc-openmp/openmp
  branch = feature-fpga
[submodule "clang"]
  path = clang
  url = https://github.com/lsc-openmp/clang
  branch = feature-parallel-hrw
