[submodule "intel-fpga-bbb"]
	path = intel-fpga-bbb
	url = https://github.com/OPAE/intel-fpga-bbb
[submodule "opae-sdk"]
	path = opae-sdk
	url = https://github.com/OPAE/opae-sdk
[submodule "llvm"]
	path = llvm
	url = https://github.com/lsc-openmp/llvm
